<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CallTopTagMapper">  

  <select id="selectTopTag"> 
    SELECT tagname
      , COUNT(*) AS 'counting'
    FROM react.post
    WHERE usernum = (SELECT usernum
                        FROM react.user
                        WHERE nickname = #{nickName}) AND tagname != ''
    GROUP BY tagname
    ORDER BY counting DESC
  </select>

</mapper>
    
    
    
