<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FollowCheckMapper"> 

    <select id="selectfollow">
        SELECT follownum
        FROM react.follow
        WHERE followeruser = #{usernum} AND followinguser = (SELECT usernum
                                                            FROM react.user
                                                            WHERE nickname = #{nickname})
    </select>

</mapper>
