<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubmitClickMapper">  

  <select id="selectSubmitClick">
      SELECT 
        text
        , image
        , tagname
        , regtime
      FROM react.post
      <if test="is_Swtcode != null && is_Swtcode != ''">
        WHERE swt_code = #{is_Swtcode}
      </if>
      ORDER BY update_date DESC
  </select>

  <insert id="insertSubmitClick"> 
    INSERT INTO react.post
    (
        usernum
        , text
        , image
        , tagname
        , regtime
    )
    VALUES (
        #{userNum}
      , #{textArea}
      , #{is_MenualName}      
      , #{tag_name}
      , DATE_FORMAT(now(), '%Y%m%d%H%i%s')
    )
  </insert>  

</mapper>
